* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
/* banner-section start */
.banner-section {
  background-image: url(images/donation12.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  color: #fff;
  padding: 0;
}
.banner-section p {
  color: #fff;
}
h1 {
  font-size: 60px;
  font-weight: 800;
}
p {
  font-weight: 700;
  color: #413f42;
}

#banner-content {
  text-align: center;
  color: #fff;
  padding: 0;
  width: 70%;
}
.flexible-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-button {
  text-decoration: none;
  padding: 10px 25px;
  background-image: linear-gradient(to right, #ff8b8b, #eb4747);
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
}
/* banner-section end */

/* donation section start */

input {
  outline: none;
  border: none;
  border-bottom: 1px solid #b4b4b4;
  width: 70%;
  text-align: center;
  padding: 5px 0;
  font-size: 16px;
}

.donation-section {
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.taka {
  width: 100px;
  height: 100px;
  background-color: #e4dccf;
  margin: 0 10px 5px;
  padding-top: 20px;
}
.donetion-amount {
  text-align: center;
}
.red-color {
  background-color: #ff8b8b;
  border: 3px solid #eb4747;
  border-radius: 10px;
}
.donation-section .link-button {
  display: block;
  width: 180px;
  margin: 15px auto;
  border-radius: 5px;
}

/* donation section end */
#donation-plan {
  text-align: center;
  margin: auto;
}
.donation-plan-content {
  padding: 10px;
  border-radius: 5px;
  height: 300px;
  margin: 15px 10px;
}
#food {
  background-color: #ffe6e6;
  width: 25%;
}
#shelter {
  background-color: #daeaf1;
  width: 25%;
}
#education {
  background-color: #faf4b7;
  width: 25%;
}
form input {
  display: inline;
}
#email {
  outline: none;
  background-color: #d9d5d5;
  max-width: 300px;
  height: 30px;
  border-radius: 20px;
}
#email .placeholder {
  color: #413f42;
}
#submit-btn {
  outline: none;
  background-color: #d9d5d5;
  max-width: 100px;
  height: 30px;
  border-radius: -20px;
}
